<div class="main posts-index">
  <div class="container-post-index">
    <% @posts.each do |post| %>
      <div class="posts-index-items">
        <div class="post-left">
          <%= gravatar_post_for post.user %>
        </div>
        <div class="post-right">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <div class="post-photo">
          <a href="<%= "/posts/#{post.id}" %>">
            <img src="<%= "#{post.photo}" %>">
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
